.root {
    /*-fx-background-image: url("../images/eriantys.jpg");*/
    -fx-background-color: #111111;
    -fx-alignment: center;
}

.label {
    -fx-font-size: 20;
    -fx-font-family: "Lucida Console";
    -fx-text-fill: #FFFFFF;
    -fx-alignment: center;
}

#titleLable {
    -fx-font-size: 50;
}